body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    background-image: linear-gradient(green,yellow,blue);
    background-color:greenyellow;
}
main{
display: grid;
grid-template-columns: 1fr 2fr;
grid-gap: 10px;
}
 nav, section, footer{
    border: 2px solid yellowgreen;
    padding: 10px;
    border-radius: 5px;
}
nav{
    background-color: aqua;
    grid-column: 1/3;
    grid-row: 1;
    padding: 0;
}
nav ul{
    list-style: none;
    margin:0;
    padding:0;
   }
   /* main menu */
nav ul li{
    float: left;
    width:200px;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    font-family: Georgia;
    
}
/* my Hobbys*/
nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    background-color:transparent;
    font-size: 40px;
    color: rgb(165, 42, 99);
}
/* my favorite websites */ 
ol li a{
    text-decoration: none;
}

ol li a:hover{
   background-color: aqua;
   border-radius: 5px;
   }

img{
    opacity: 0.8;
}
section{
    grid-column: 2;
    grid-row:2;
    background-color:rgb(173, 173, 194);
    }
footer{
       grid-column: 1/3;
       grid-row:3;
       background-color: rgb(202, 172, 39);
       padding-bottom: 0;
    }
    .social_address{
        display: flex;
        justify-content:center;
                }
.social_address li{
list-style: none;
display: inline-block;
font-size: 35px;
padding: 0px 15px;

}
.social_address li:hover{
    background-color: rgb(226, 31, 31);
    border-radius: 50%;
        }
h1{
text-align: center;
padding: 0;
}
#copy_rights{
    text-align: center;
}




